/* .mySlick{
    height: 28rem;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

@media (max-width: 1025px){
    .mySlick{
        height: 23rem;
    }
    }
@media (max-width: 769px){
    .mySlick{
        height: 18rem;
    }
    }
@media (max-width: 427px){
    .mySlick{
        height: 15rem;
    }
    }
@media (max-width: 377px){
    .mySlick{
        height: 32rem;
    }
    }
@media (max-width: 325px){
.mySlick{
    height: 45rem;
}
} */

.slickBox{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}